#show{
    text-align: center;
}
#upperscreen{
    text-align: center;
}
#randombtn{  
    margin-top: 10px;
    margin-left: 10px;
}
#showtext{
    margin-top: 10px;
    font-size: 20px;
}
#art1{
    padding: 20px;
}
#art2{
    padding: 20px;
}
#art3{
    padding: 20px;
}
#art4{
    padding: 20px;
}